<div class="row">
  <div class="col-sm-4">
    <%= form_with(model: order, local: true) do |f| %>
      <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <hr>
      <h4 class="lead text-center">New Order</h4>
      <hr>

      <div class="panel panel-default">
        <div class="panel-body">

          <%= f.label :status, :class => "sr-only" %>
          <%= f.check_box :status, id: :order_status, :class => "form-control", :placeholder => "Status" %><br>

          <%= form.label :total, :class => "sr-only" %>
          <%= form.number_field :total, id: :order_total, :class => "form-control", , :value => order.total_order %><br>

          <%= f.label :customer_id, :class => "sr-only" %>
          <%= f.collection_select(:customer_id, @customers, :id, :name, {prompt: "Select a customer"}, {class: "form-control"}) %><br>

          <%= f.label :user_id, :class => "sr-only" %>
          <%= f.collection_select(:user_id, @users, :id, :email, {prompt: "Select a user"}, {class: "form-control"}) %><br>

          <%= f.label :table_id, :class => "sr-only" %>
          <%= f.collection_select(:table_id, @tables, :id, :id, {prompt: "Select a table"}, {class: "form-control"}) %><br>

          <hr>
          <h3>Products</h3>
          <div id='order_products'>
            <%= f.fields_for :order_products do |order_product| %>
              <%= render 'order_product_fields', :f => order_product %>
            <% end %><br>
            <div class='links'>
              <%= link_to_add_association 'Add Product', f, :order_products, :class => "btn btn-sm btn-default" %>
            </div>
          </div>
          <hr>

          <%= f.submit "Create", :class => "btn btn-lg btn-default btn-block", :type => "submit" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
