<div class="row">
  <div class="col-sm-4">
    <%= form_with(model: table, local: true) do |form| %>
      <% if table.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

          <ul>
          <% table.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <hr>
      <h4 class="lead text-center">New Table</h4>
      <hr>

      <div class="panel panel-default">
        <div class="panel-body">
          <%= form.label :status, :class => "sr-only" %>
          <%= form.text_field :status, id: :table_status, :class => "form-control", :placeholder => "Status" %><br>

          <%= form.label :limit, :class => "sr-only" %>
          <%= form.text_field :limit, id: :table_limit, :class => "form-control", :placeholder => "Limit" %><br>

          <%= form.submit "Create", :class => "btn btn-lg btn-default btn-block", :type => "submit" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
