
<hr>
  <form class="form-inline">
    <div class="form-group">
      <i class="fas fa-list-ul mb-2 mr-sm-2"></i>
      <h4 class="text-left mb-2 mr-sm-2">List of Tables</h4>
    </div>
    <div class="form-group">
      <%= link_to 'New Table', new_table_path, :class => "btn btn-md btn-success mb-2 mr-sm-2", :role => "button" %>
      <div class="input-group mb-2">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :id_eq, class: "form-control", placeholder: "Search by Number" %>
          <div class="input-group-append">
            <%= f.submit 'Search', class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </form>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Limit</th>
      <th class="text-md-center"><i class="fas fa-edit"></i></th>
      <th class="text-md-center"><i class="fas fa-trash-alt"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.id %></td>
        <td><%= availability table.status %></td>
        <td><%= table.limit %></td>
        <td><%= link_to 'Edit', edit_table_path(table), :class => "btn btn-md btn-info btn-block", :role => "button" %></td>
        <td><%= link_to 'Delete', table, :class => "btn btn-md btn-danger btn-block disabled", :role => "button", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><%= paginate @tables %>
