<br>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card card-body mb-2">
      <%= form_with(model: product, local: true) do |form| %>
        <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <hr>
        <h4 class="lead text-center">Product</h4>
        <hr>

        <div class="panel panel-default">
          <div class="panel-body">
            <%= render 'shared/label_name', :form => form %>
            <%= form.text_field :name, id: :product_name, :class => "form-control", :placeholder => "Name" %><br>

            <%= form.label :price, :class => "sr-only" %>
            <%= form.number_field :price, id: :product_price, step: :any, :class => "form-control", :placeholder => "Price" %><br>

            <%= render 'shared/label_description', :form => form %>
            <%= form.text_field :description, id: :product_description, :class => "form-control", :placeholder => "Description" %><br>

            <%= form.label :category, :class => "sr-only" %>
            <%= form.collection_select(:category_id, @categories, :id, :name, {prompt: "Select a category"}, {class: "form-control"}) %><br>

            <%= render 'shared/button', :form => form %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
