<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Small Restaurant</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fas fa-utensils"></i>
            <% end %>
          </li>
          <li class="nav-item"><%= link_to 'Orders', orders_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Tables', tables_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Categories', categories_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Products', products_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Customers', customers_path, class: "nav-link" %></li>

          <% unless user_signed_in? %>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fas fa-sign-in-alt"></i>
                <i class="fas fa-user-tie"></i>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fas fa-user-tie"></i>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to '#', class: "nav-link" do %>
                <i class="fas fa-clock"></i>
                <span id="time">60:00</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">

      <% if notice %>
        <div id="flash">
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        </div>
      <script>
        setTimeout();
      </script>
      <% end -%>

      <%= yield %>

    </div>
    <script>
      function startTimer(duration, display) {
          var timer = duration, minutes, seconds;
          setInterval(function () {
              minutes = parseInt(timer / 60, 10)
              seconds = parseInt(timer % 60, 10);

              minutes = minutes < 10 ? "0" + minutes : minutes;
              seconds = seconds < 10 ? "0" + seconds : seconds;

              display.text(minutes + ":" + seconds);

              if (--timer < 0) {
                  timer = duration;
              }
          }, 1000);
      }

      jQuery(function ($) {
          var sixtyMinutes = 60 * 60,
              display = $('#time');
          startTimer(sixtyMinutes, display);
      });
    </script>
  </body>
</html>
